:root {
    --inDev-bg-color: #283247;
    --inDev-text-color: #adb5bd;
}

#workInProgress {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 104.3%;

    background-color: var(--inDev-bg-color);
}

#workInProgress>h2 {
    width: 70%;

    text-align: center;
    font-size: 2em;
    font-weight: 600;

    border-bottom: solid 2px var(--inDev-text-color);

    color: var(--inDev-text-color);
}

#workInProgress>img {
    width: 55%;
    height: auto;
}